@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';

.wrapper {
    grid-area: left-bottom;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.details {
    display: flex;
    flex-direction: row;
    gap: 64px;
}
.details__item {
    @include flexGapDirection(4px, column);
    @include text(14px);
    max-width: 600px;
    overflow: hidden;
    color: $main-font-color;
    div {
        h6 {
            width: 120px;
            font-size: 20px;
            color: $second-font-color;
        }
        .span:not(:last-child):after {
            content: ', ';
        }

    }
}
.title {
    @include text(32px, 600);
    white-space: normal;
}
.release {
    @include text(20px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    h6 {
        display: inline-block;
        width: 90px;
        font-size: 20px;
        color: $second-font-color;
    }
    
}
