@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';
@import 'src/styles/font.variables.scss';

.main {
    min-height: 100%;
    max-width: 100%;
    padding: 8px 16px;
}

.footer {
    @include flexGapDirection(32px);
    @include text;
}

