@import 'src/styles/mixins.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .image {
        position: relative;
        width: 280px;
        // width: 100%;
        height: 140px;
        border-radius: 15px;
        overflow: hidden;
    }
    h3 {
        @include text;
        width: 280px;
        white-space: normal;
    }
}
