@import 'src/styles/mixins.scss';

.wrapper {
    width: 200px;
    min-height: 100px;
    .image {
        position: relative;
        width: 100%;
        height: 100%;
    }
    h3 {
        @include text;
        max-width: 100%;
        white-space: normal;
    }
}
