@import '../mixins.scss';
@import '../color.variables.scss';

.main {
    min-height: 1000px;
    max-width: 100%;
    padding: 8px 16px;
}
.genres {
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    button {
        @include text(20px);
        color: #f2edeb6b;
        &:hover {
            color: $main-font-color;
        }
    }
    .activeGenre {
        color: $main-font-color;
    }
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}
.showmore {
    width: 100%;
    margin: 16px 0;
    display: flex;
    justify-content: center;
    button {
        padding: 8px 16px;
        @include text;
        background:none;
        outline: none;
        &:hover {
            outline: 2px solid $active-font-color;
            border-radius: 4px;
        }
    }
}