@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';

.header {
    @include text(24px, 600);
    grid-area: header;
    background: $main-background-color;
    color: $main-font-color;
    padding: 4px 32px;
    span {
        color: $active-font-color;
    }
}
