html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
// *,
// *:after,
// *:before {
//   flex: 1 0 auto;
//   /* safari bugfix */
//   box-sizing: border-box;
// }
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html,body, #__next {
  height: 100%;
  overflow: hidden;
  background: #ffff;
}
